{% extends "base/normal_base.html" %}

{% load static %}

{% block title %}edit{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/labs/edit_code.css' %}">
{% endblock %}

{% block body %}
<div class="contents">
    <div class="am-g">
        <div class="am-u-md-3">
            <div class="doc-content">
                <div class="doc-title">

                    文档标题
                </div>
                <div class="doc-text">
                    文档部分
                    <p>labName:{{ lab.name }}</p>
                    <p>labDescription:{{ lab.description }}</p>
                    <p>labViews:{{ lab.views }}</p>

                    #####{{ user_dockers.docker_open_link }}
                    {% if lab.document_link %}
                        <p>{{ lab.document_link }}</p>
                    {% else %}
                        <p>documents of lab is not exist!</p>
                    {% endif %}

                    <p>{{ lab.created_time | date:'Y-m-d' }}</p>
                    <p>{{ docker_info }}</p>

                    {% if user_docker %}
                        <p>{{ user_docker.docker_open_link }}</p>
                    {% else %}
                        <p>Null</p>
                    {% endif %}

                    {% if user_code %}
                        <p>code path: <br/> {{ user_code.code_path }}</p>
                        {% if user_code.code_content.0 == 'f' %}
                            <p>code: <br/> {{ user_code.code_content | slice:"1:" }}</p>
                        {% endif %}
                        <p>version: <br/> {{ user_code.version }}</p>
                    {% endif %}
                </div>
                <div class="doc-bottom-bar">
                    <div class="am-u-sm-6 am-text-center doc-btn">Q&A Forum</div>
                    <div class="am-u-sm-6 am-text-center doc-btn">Glossary</div>
                </div>
            </div>
        </div>
        <div class="am-u-md-9">
            <div class="am-u-sm-6">
                <div class="editor-content">
                    <div id="editor"></div>
                </div>
            </div>
            <div class="am-u-sm-6">
                <div class="console">
                    <div class="console-content">
                        console : )
                    </div>
                </div>
            </div>
            <div class="editor-bottom-bar">
                <div id="run_code" class="am-btn am-btn-primary am-radius btn-save">
                    运行代码
                </div>
                <div id="next_lab" class="am-btn am-radius btn-resite">
                    下一课
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'ace-builds/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'js/labs/edit_code.js' %}"></script>
<script>
    var editor = ace.edit("editor");
    //editor.resize()
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setTabSize(4);
    document.getElementById('editor').style.fontSize='15px';
</script>
<script>
// set csrf_token for django
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // end

    $("#run_code").click(function () {
        var code_path = "/home/code/work/{{ lab.id }}"
        var code_content_latest = editor.getValue();
        console.log(code_content_latest);
        $.post("http://{{ user_docker.docker_open_link }}",
            {
                lab_id: {{ lab.id }},
                command_pre: "{{ command_pre }}",
                code_path: code_path,
                code_content: code_content_latest
            },
            function(data, status){
                if (!data) {
                    $(".console-content").html("Your input seems some errors!");
                } else {
                    data = data.replace(/>/ig, "&gt;").replace(/</ig, "&lt;").replace(/ /ig, "&nbsp;").replace(/\n/ig, '<br />');
                    $(".console-content").html("<p>" + status + "</p>" + data);
                }
        }).error(function () {
            $(".console-content").html("Server wrong");
        });
    });

   $("#next_lab").click(function () {
        var code_path = "/home/code/work/{{ lab.id }}"
        var code_content_latest = editor.getValue();
        console.log({{ lab.id }})
        $.post("{% url "labs:save_user_code" %}",
            {
                lab_id: {{ lab.id }},
                code_path: code_path,
                code_content: code_content_latest
            },
            function(data){
                window.location.href=data;
        });
    });
</script>
{% endblock %}
