{% extends "base/normal_base.html" %}

{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/labs/show_labs.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/labs/show_labs.css' %}">
{% endblock %}

{% block title %}Labs{% endblock %}

{% block body %}
    <div class="contents">
        <div class="course-content">
        {% if user_record_latest %}
            <!-- 学习过课程 -->
            <div class="am-text-center course-name">
                {{ user_record_latest.course.name }}
            </div>
            <div class="am-text-center lab-direction">
                Learn the fundamentals of JavaScript, the programming language of the Web.
            </div>
            <div class="am-g am-g-fixed">
                <div class="am-u-md-11">
                    <div class="am-progress am-progress-sm">
                        <div class="am-progress-bar am-progress-bar-secondary"></div>
                    </div>
                </div>
                <div class="am-u-md-1 am-text-center progress-num">57%</div>
            </div>
            <div class="am-g am-g-fixed">
                <div class="am-text-center lab-name">
                    labName：{{ user_record_latest.lab.name }}
                </div>
                <div class="am-text-center created_time">
                    latestTiem/createdTime：{{ user_record_latest.created_time | date:"Y-m-d" }}
                </div>
                <a href="{% url 'labs:edit_code' user_record_latest.course.id user_record_latest.lab.weight %}">
                    <div class="am-u-sm-offset-4 am-u-sm-4 am-btn am-btn-secondary btn">
                        继续
                    </div>
                </a>
            </div>
        {% else %}
            <!-- 未学习过课程 -->
            <div class="am-text-center course-name">
                {{ course.name }}
            </div>
            <div class="am-text-center lab-direction">
                Learn the fundamentals of JavaScript, the programming language of the Web.
            </div>
            <div class="am-g am-g-fixed">
                <div class="am-u-md-11">
                    <div class="am-progress am-progress-sm">
                        <div class="am-progress-bar am-progress-bar-secondary"></div>
                    </div>
                </div>
                <div class="am-u-md-1 am-text-center progress-num">0%</div>
            </div>
            <div class="am-g am-g-fixed">
                <div class="am-text-center lab-name">
                    labName：{{ user_record.lab.name }}
                </div>
                <div class="am-text-center created_time">
                    latestTiem/createdTime：{{ user_record.created_time | date:"Y-m-d" }}
                </div>
                <a href="{% url 'labs:edit_code' course.id 1 %}">
                    <div class="am-u-sm-offset-4 am-u-sm-4 am-btn am-btn-secondary btn">
                        开始
                    </div>
                </a>
            </div>
        {% endif %}
        </div>
        <div class="labs-content">
        {% for lab in course.labs_set.all %}
            {% if lab.id in labs_id %}
            <div class="am-g">
                <div class="am-u-md-6 am-u-md-offset-3 complete">
                    <div class="am-g">
                        <div class="am-u-sm-2 am-text-center icon">
                            <i class="am-icon-check-circle"></i>
                        </div>
                        <div class="am-u-sm-8 com-lab-name">
                            已学过该实验(换成图形化) -- {{ lab }}
                        </div>
                        <div class="am-u-sm-2 am-text-center icon">
                            <i class="am-icon-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="am-g">
                <div class="am-u-md-6 am-u-md-offset-3 uncomplete">
                    <div class="am-g">
                        <div class="am-u-sm-2 am-text-center icon">
                            <i class="am-icon-tag"></i>
                        </div>
                        <div class="am-u-sm-8 com-lab-name">
                            {{ lab }}
                        </div>
                        <div class="am-u-sm-2 am-text-center icon">
                            <i class="am-icon-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}