{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/start/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/courses/courses_index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/labs/show_labs.css' %}">
{% endblock %}

{% if user_record_latest %}
    <div class="am-center course-name">
        {{ user_record_latest.course.name }}
    </div>
    <div class="am-center lab-direction">
        Learn the fundamentals of JavaScript, the programming language of the Web.
    </div>
    <div class="am-g am-g-fixed">
        <div class="am-u-md-11">
            <div class="am-progress am-progress-sm">
                <div class="am-progress-bar am-progress-bar-secondary"></div>
            </div>
        </div>
        <div class="am-u-md-1 am-center progress-num">57%</div>
    </div>
    <div class="am-g am-g-fixed">
        <div class="am-center lab-name">
            labName：{{ user_record_latest.lab.name }}
        </div>
        <div class="am-center created_time">
            latestTiem/createdTime：{{ user_record_latest.created_time | date:"Y-m-d" }}
        </div>
        <a href="{% url 'edit_code' user_record_latest.course.id user_record_latest.lab.weight %}">
            <div class="am-u-sm-offset-4 am-u-sm-4 am-btn am-btn-secondary btn">
                继续
            </div>
        </a>
    </div>
{% else %}
    <div class="am-center course-name">
        {{ course.name }}
    </div>
    <div class="am-center lab-direction">
        Learn the fundamentals of JavaScript, the programming language of the Web.
    </div>
    <div class="am-g am-g-fixed">
        <div class="am-u-md-11">
            <div class="am-progress am-progress-sm">
                <div class="am-progress-bar am-progress-bar-secondary"></div> <div class="am-u-md-1 am-center progress-num">0%</div>
    </div>
    <div class="am-g am-g-fixed">
            <a href="{% url 'edit_code' course.id 1 %}">
            <div class="am-u-sm-offset-4 am-u-sm-4 am-btn am-btn-secondary btn">
                开始
            </div>
        </a>
    </div>
{% endif %}

{% for lab in course.labs_set.all %}
    {% if lab.id in labs_id %}
        <p>已学过该实验(换成图形化) -- {{ lab }}</p>
    {% else %}
        <p>{{ lab }}</p>
    {% endif %}
{% endfor %}
