{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{% block title %}codeFunland{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/amazeui.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block static_src %}{% endblock %}
    {% block style %}{% endblock %}
</head>

<body>

<header class="am-topbar am-topbar-fixed-top am-topbar-inverse">
    <h1 class="am-topbar-brand">
        <a href="{% url 'courses:courses_index' %}">Codeutopia</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    {% if user.is_authenticated %}
        <div class="am-topbar-right"> |
            <a href="{% url 'users:user_profile' user.id %}">Profile</a> |
            <a href="{% url 'courses:courses_index' %}">Courses</a> |
            <a href="{% url 'users:user_logout' %}">Logout</a>
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>
                    <div class="haeder-user-name">
                        {{ user.username }}&nbsp;
                    </div>
                    <span class="am-icon-caret-down"></span>
                </button>
                <ul class="am-dropdown-content">
                    <li><a target="_blank" href="{% url 'users:user_profile' user.id %}">个人信息</a></li>
                    <li><a href="{% url 'users:user_logout' %}">退出</a></li>
                </ul>
            </div>
        </div>

        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 600, height: 350}">
                Modal
            </button>
        </div>
    {% else %}
        <div class="am-topbar-right">
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>
                    其他 <span class="am-icon-caret-down"></span>
                </button>
                <ul class="am-dropdown-content">
                    <li><a href="{% url 'users:user_register' %}">注册</a></li>
                    <li><a href="#">随便看看</a></li>
                </ul>
            </div>
        </div>
        
        <div class="am-topbar-right">
            <a href="{% url 'users:user_login' %}">
                <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">
                    登录
                </button>
            </a>
        </div>

        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 600, height: 350}">
                Modal
            </button>
        </div>
    {% endif %}
    </div>
</header>

{% block body %}{% endblock %}

{% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message.level }} -- {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
</body>

{% block js %}{% endblock %}
</html>
