.login-form {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
}
.am-input-group {
    min-width: 240px;
    margin: 0 auto 20px;
}
input[type="text"] {
    width: 100%;
}
.am-g .am-g {
    margin: -5px auto 15px;
}
.input-group {
    max-width: 240px;
}
input[type="checkbox"] {
    width: 13px;
    height: 13px;
}
.submit-btns {
    margin: 0 auto;
}
input[type="submit"] {
    width: 100%;
}