.form-avatar {
    width: 200px;
    position: relative;
}
input[type="file"] {
    width: 95px;
    height: 40px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px #000;
    opacity: 0;
    cursor: pointer;
}
.file-btn {
    position: absolute;
    top: 30px;
}
input[type="submit"] {
    height: 45px;
    position: absolute;
    top: 490px;
}
.rel {
    position: relative;
    top: 35px;
}
.tar-box {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 2px #a7a7a7;
    display: table-cell;
    vertical-align: middle;
}
#preview_box {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 0;    
    left: 520px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #a7a7a7;
}