.course-box {
	height: 350px;
	padding: 10px;
}
.course-item {
    color: #000;
	height: 100%;
	box-shadow: 0 0 1px #000;
	background-color: #fff;
	cursor: pointer;
}
.course-item:hover {
    color: #fff;
    background-color: #0e90d2;
}
.courses {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}
.course-img {
	font-size: 80px;
}
.course-title {
	font-size: 28px;
}
/* login register form-modal */
.register-form,
.login-form {
    padding: 20px;
    background-color: #fff;
}
.am-input-group {
    margin: 0 auto 20px;
}
.am-g .am-g {
    margin: -5px auto 15px;
}
.input-group {
    max-width: 229px;
}
input[type="checkbox"] {
    margin: 8px 0 0;
}
.submit-btns {
    width: 100%;
    margin: 0 auto;
}
input[type="submit"] {
    width: 100%;
}
/* end login register form-modal */