.contents {
    padding: 20px 0;
    background-color: #fff;
}
.console-panel {
    max-width: 610px;
    height: 400px;
    padding: 10px;
    background-color: #000;
    border-top: 30px solid #adcdec;
    border-right: 8px solid #adcdec;
    border-bottom: 8px solid #adcdec;
    border-left: 8px solid #adcdec;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    min-height: 170px;
    box-shadow: 0 0 0 1px #093552;
}
.login-register {
    max-width: 300px;
    height: 370px;
    background-color: #ffffff;
    box-shadow: 0 0 1px #6c6c6c;
    margin-top: 15px;
}
.form-register {
    display: none;
}
.register,
.login {
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #eeeeee;
}
.active {
    background-color: #ffffff;
}
.am-input-group {
    margin-top: 20px;
    width: 100%;
}
.input-group {
    margin-top: 10px;
}
.input-group input[type="checkbox"] {
    width: 13px;
    height: 13px;
    margin: 8px 0 0 20px; 
}
.input-group input[type="submit"] {
    width: 100%;
    margin-top: 20px;
}
