html,
body {
	padding: 0;
	margin: 0;
	background-color: #f1f2f2;
}
.my-dropdown {
    padding: 3px 10px;
}
.haeder-user-name {
    width: 30px;
    display: inline-block;
}
.header-img {
    width: 100%;
    border-radius: 50%;
}
/* am-alert */
.al-message {
    position: absolute;
    top: 55px;
    z-index: 100;
}
/* end am-alert */