html,
body {
	padding: 0;
	margin: 0;
	background-color: #f1f2f2;
}
.my-dropdown {
    padding: 0 10px;
}
.haeder-user-name {
    width: 36px;
    display: inline-block;
}
.header-img {
    width: 100%;
    border-radius: 5px;
}
/* am-alert */
.al-message {
    position: absolute;
    top: 55px;
    z-index: 100;
}
/* am-alert end */
/* my-btn */
.my-btn {
    background-color: #0e90d2;
    border: none;
}
/* my-btn end */