{% extends "base/normal_base.html" %}

{% block title %}codeFunland{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/start/index.css' %}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/start/index.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <a href="{% url 'user_profile' user.id %}">Profile</a> |
    <a href="{% url 'courses_index' %}">Courses</a> |
    <a href="{% url 'user_logout' %}">Logout</a> |

    <div style="border:2px solid red">
        {% if user_recored %}
            <a href="{% url 'labs_index' user_recored.course.id user_recored.lab.weight %}">
                <p>course: {{ user_recored.course.name }}</p>
            </a>
            <p>lab: {{ user_recored.lab.name }}</p>
            <p>latest learn: {{ user_recored.created_time | date:"Y-m-d" }}</p>
            <p></p>
        {% else %}
            <p>no data</p>
        {% endif %}
    </div>
{% else %}
    <div class="contents">
        <div class="am-g">
            <div class="am-u-md-7 am-hide-sm-only">
                <div class="wel-img">
                    <div class="word-box">
                        <div class="result-word">
                            Learn to code interactively, for free.
                            <div class="tri"></div>
                        </div>
                    </div>
                    <div class="result-content"></div>
                    <div class="keybord-top"></div>
                    <div class="keybord">
                        <div class="touch"></div>
                    </div>
                </div>	
            </div>
            <div class="am-u-md-5">
                <div class="login-register am-u-sm-centered">
                    <div class="am-g">
                        <div class="am-u-sm-6 register active">创建账户</div>
                        <div class="am-u-sm-6 login">登录</div>
                    </div>
                    <div class="form-register">
                        <div class="am-input-group">
                            <input type="text" class="am-form-field" placeholder="Email">
                        </div>
                        <div class="am-input-group">
                            <input type="text" class="am-form-field" placeholder="Username">
                        </div>
                        <div class="am-input-group">
                            <input type="text" class="am-form-field" placeholder="Password">
                        </div>
                        <div class="am-btn am-btn-danger am-center btn btn-register">注册</div>
                    </div>
                    <div class="form-login">
                        <div class="am-input-group">
                            <input type="text" class="am-form-field" placeholder="Email or username">
                        </div>
                        <div class="am-input-group">
                            <input type="text" class="am-form-field" placeholder="Password">
                        </div>
                        <div class="am-g input-group">
                            <div class="am-u-sm-2">
                                <input type="checkbox" class="am-form-field">
                            </div>
                            <div class="am-u-sm-10">Remember me</div>
                        </div>
                        <div class="am-btn am-btn-danger am-center btn login-btn">登录</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'user_login' %}">登录</a> |
    <a href="{% url 'user_register' %}">Register</a>
{% endif %}
{{ nowtime }}
{% endblock %}
