{% extends "base/normal_base.html" %}
sldfkjsdf
{% load static %}
{% load custom_tags %}

{% block title %}codeUtopia{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/start/index.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/start/index.css' %}">
{% endblock %}

{% block body %}

<div class="contents">
{% if user.is_authenticated %}
    {% if user_record %}
        <!-- 登录并学习了课程 -->
    {% else %}
        <!-- 登录但未学习课程 -->
    {% endif %}
{% else %}
    <!-- 未登录 -->
    <div class="am-g">
        <div class="am-u-md-7 am-hide-sm-only">
            <div class="console-img">
                <div class="console-panel">
                    Codeutopia [版本 V1.3.4]<br/>
                    Welcome to Codeutopia : )<br/>
                    Learn to code interactively, for free.<br/>
                    --> <span>~$</span>
                </div>
            </div>
        </div>
        <div class="am-u-md-5">
            <div class="login-register am-u-sm-centered">
                <div class="am-g">
                    <div class="am-u-sm-6 login active">登录</div>
                    <div class="am-u-sm-6 register">创建账户</div>
                </div>
                <div class="form-login">
                    {% form_extra login_form "users:user_login" "登录" %}
                </div>
                <div class="form-register">
                    {% form_extra register_form "users:user_register" "注册" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
