{% load custom_filters %}

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            Codeutopia
            <a href="javascript: void(0)" class="am-close" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="am-g">
                <form class="am-form" action="{% url login_action %}" method="{{ methods }}">
                    {% csrf_token %}
                    <div class="am-u-sm-6">
                        <div class="login-form">
                            {% for field in login_form %}
                                {% if field|fieldtype == "TextInput" %}
                                    <div class="am-input-group">
                                        {{ field|addattrs:"placeholder=用户名" }}
                                        {{ field.errors }}
                                    </div>
                                {% elif field|fieldtype == "PasswordInput" %}
                                    <div class="am-input-group">
                                        {{ field|addattrs:"placeholder=6~12位密码" }}
                                        {{ field.errors }}
                                    </div>
                                {% elif field|fieldtype == "CheckboxInput" %}
                                    <div class="am-g input-group">
                                        <div class="am-u-sm-1">
                                            {{ field|addattrs:"class=am-checkbox" }}
                                            {{ field.errors }}
                                        </div>
                                        <div class="am-u-sm-5">自动登录</div>
                                        <div class="am-u-sm-5 am-text-center">
                                            <a href="#">忘记密码</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input type="submit" class="am-btn am-btn-danger am-center btn login_btn" value="登录"/>
                        </div>
                    </div>
                </form>

                <form class="am-form" action="{% url register_action %}" method="{{ methods }}">
                    {% csrf_token %}
                    <div class="am-u-sm-6" style="border-left: 1px solid #ccc;">
                        <div class="register-form">

                            {% for field in register_form %}
                                {% if field|fieldtype == "TextInput" %}
                                    <div class="am-input-group">
                                        {{ field|addattrs:"placeholder=用户名" }}
                                        {{ field.errors }}
                                    </div>
                                {% elif field|fieldtype == "EmailInput" %}
                                    <div class="am-input-group">
                                        {{ field|addattrs:"placeholder=邮箱" }}
                                        {{ field.errors }}
                                    </div>
                                {% elif field|fieldtype == "PasswordInput" %}
                                    <div class="am-input-group">
                                        {{ field|addattrs:"placeholder=6~12位密码" }}
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input type="submit" class="am-btn am-btn-danger am-center btn btn-register" value="注册"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
