{% extends "base/normal_base.html" %}

{% load static %}

{% block title %}Courses{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/courses/courses_index.css' %}">
{% endblock %}

{% block body %}
<div class="contents">
    <h1 class="am-text-center">Language Skills</h1>
    <div class="am-text-center">
        Learn core programming concepts and syntax for the world's most popular languages.
    </div>
    {% for course in courses  %}
    <div class="courses">
        <div class="am-g">
        {% if user.is_authenticated %}
            <a href="{% url 'labs:show_labs' course.id %}">
        {% else %}
            <a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 680, height: 400}">
        {% endif %}
                <div class="am-u-md-4 course-box">
                    <div class="course-item">
                        <div class="am-text-center course-img">
                            <i class="am-icon-jsfiddle"></i>
                        </div>
                        <div class="am-text-center course-title">
                            {{ course.name }}
                        </div>
                        <div class="am-text-center course-direction">
                            Learn the fundamentals of JavaScript, the programming language of the Web.
                        </div>
                    </div>
                </div>
            </a>
    </div>
    {% endfor %}
    
    {% for course in courses  %}
        {% if course.is_active %}
            <a href="{% url 'labs:show_labs' course.id %}">
                <p>课程名称：{{ course.name }}</p>
            </a>
        {% else %}
            <p>{{ course.name }} -- 还未添加实验哦，请稍等</p>
        {% endif %}
        <p>课程标签：{{ course.label }}</p>
        <p>课程描述：{{ course.description }}</p>
        <p>课程创建时间：{{ course.created_time }}</p>
        <p>views:{{ course.views }}</p>
        <p>likes:{{ course.likes }}</p>
        <p>课程拥有者：{{ course.owner.username }}</p>
        <img src="{% get_media_prefix %}{{ course.image }}" style="width:160px;height:80px;" />
        <hr />
    {% endfor %}
    
    <!-- login register modal -->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                已有账户请登录，没有账户请先注册
                <a href="javascript: void(0)" class="am-close" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <div class="am-g">
                    <div class="am-u-sm-6">
                        <div class="login-form">
                            <div class="am-input-group">
                                <input type="text" placeholder="Email or username">
                            </div>
                            <div class="am-input-group">
                                <input type="text" placeholder="Password">
                            </div>
                            <div class="am-g input-group">
                                <div class="am-u-sm-1">
                                    <input type="checkbox" name="remember_me" id="id_remember_me" class="am-checkbox">
                                </div>
                                <div class="am-u-sm-5">自动登录</div>
                                <div class="am-u-sm-5 am-text-center">
                                    <a href="#">忘记密码</a>
                                </div>
                            </div>
                            <div class="submit-btns input-group">
                                <input type="submit" value="登录" class="am-btn am-btn-danger am-center btn">
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6" style="border-left: 1px solid #ccc;">
                        <div class="register-form">
                            <div class="am-input-group">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="am-input-group">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="am-input-group">
                                <input type="text" placeholder="Password">
                            </div>
                            <div class="am-input-group">
                                <input type="text" placeholder="Password">
                            </div>
                            <div class="submit-btns input-group">
                                <input type="submit" value="注册" class="am-btn am-btn-danger am-center btn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
