{% extends "base/normal_base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}Courses{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/courses/courses_index.css' %}">
{% endblock %}

{% block body %}
<div class="contents">
    <h1 class="am-text-center">
        语言技能
    </h1>
    <div class="am-text-center">
        了解核心编程概念和世界上最流行语言的语法
    </div>
    <div class="courses">
        <div class="am-g">
    {% for course in courses  %}
        {% if user.is_authenticated %}
            <a href="{% url 'labs:show_labs' course.id %}">
        {% else %}
            <a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 680, height: 400}">
        {% endif %}
                <div class="am-u-md-4 course-box">
                    <div class="course-item">
                        <div class="am-text-center course-img">
                            <i class="am-icon-jsfiddle"></i>
                        </div>
                        <div class="am-text-center course-title">
                            {{ course.name }}
                        </div>
                        <div class="am-text-center course-direction">
                            {{ course.description }}
                        </div>
                    </div>
                </div>
            </a>
    {% endfor %}
        
        
    </div>

    <!-- {% for course in courses  %}
        {% if course.is_active %}
            <a href="{% url 'labs:show_labs' course.id %}">
                <p>课程名称：{{ course.name }}</p>
            </a>
        {% else %}
            <p>{{ course.name }} -- 还未添加实验哦，请稍等</p>
        {% endif %}
        <p>课程标签：{{ course.label }}</p>
        <p>课程描述：{{ course.description }}</p>
        <p>课程创建时间：{{ course.created_time }}</p>
        <p>views:{{ course.views }}</p>
        <p>likes:{{ course.likes }}</p>
        <p>课程拥有者：{{ course.owner.username }}</p>
        <img src="{% get_media_prefix %}{{ course.image }}" style="width:160px;height:80px;" />
        <hr />
    {% endfor %} -->

    <!-- login register modal -->
    {% dialog_form %}

</div>
{% endblock %}
