{% extends "base/normal_base.html" %}

{% load static %}

{% block style %}

{% endblock %}

{% block title %}Courses{% endblock %}

{% block body %}

{% for course in courses  %}
    {% if course.is_active %}
    <a href="{% url 'show_labs' course.id %}">
        <p>课程名称：{{ course.name }}</p>
    </a>
    {% else %}
        <p>{{ course.name }} -- 还未添加实验哦，请稍等</p>
    {% endif %}
    <p>课程标签：{{ course.label }}</p>
    <p>课程描述：{{ course.description }}</p>
    <p>课程创建时间：{{ course.created_time }}</p>
    <p>views:{{ course.views }}</p>
    <p>likes:{{ course.likes }}</p>
    <p>课程拥有者：{{ course.owner.username }}</p>
    <img src="{% get_media_prefix %}{{ course.image }}" style="width:160px;height:80px;" />
    <hr />
{% endfor %}

{% endblock %}
