{% extends "base/normal_base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}登录{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block body %}
    <div class="contents">
        <div class="am-g">
            <div class="am-u-md-6 am-u-md-centered login-form">
                {% form_extra form "users:user_login" "登陆" %}
            </div>
        </div>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message.level }}--{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
