{% extends "base/normal_base.html" %}

{% block title %}{{ user.username }}--Home{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/profile.css' %}">
{% endblock %}

{% block body %}
<div class="contents">
    <div class="am-text-center">
        <div class="user-img">
            <img src="{% get_media_prefix %}{{ user.userprofile.avatar_link }}"/>
            <a class="change-btn" href="{% url 'users:update_avatar' user.id %}">更换头像</a>
        </div>
        <div class="user-name">
            {{ user.username }}
        </div>
        <div class="user-email">
            {{ user.email }}
        </div>
    </div>
</div>
<!-- 选择头像 modal -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">选择头像文件
            <a href="javascript: void(0)" class="am-close" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <form action="{% url 'users:update_avatar' user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
