{% extends "base/normal_base.html" %}

{% block title %}{{ user.username }}--Home{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock %}

{% block body %}
<div class="contents">
    <div class="am-center">
        <div class="user-img">
            <img src="{% get_media_prefix %}{{ user.userprofile.avatar_link }}"/>
        </div>
        <div>
            <a href="{% url 'users:update_avatar' user.id %}">Update Your Avatar?</a>
        </div>
        <div class="user-name">
            {{ user.username }}
        </div>
        <div class="user-email">
            {{ user.email }}
        </div>
    </div>
</div>

<a href="{% url 'users:update_avatar' user.id %}">Update Your Avatar?</a>
{% endblock %}
