{% extends "base/normal_base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}注册{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/register.css' %}">
{% endblock %}

{% block body %}

<!-- <form action="{% url 'users:user_register' %}" method='POST'>
    {% csrf_token %}

    {% if register_form %}
        {% for form in register_form %}
            <p>{{ form.label }}</p>
            <p>{{ form }}</p>
            {{ form.errors }}
        {% endfor %}
    {% endif %}
    <input type="submit" value="submit" />
</form> -->

<div class="contents">
    <div class="am-g">
        <div class="am-u-md-6 am-u-md-centered register-form">
            {% form_extra register_form "users:user_register" "注册" %}
        </div>
    </div>
</div>

{% endblock %}
