{% extends "base/normal_base.html" %}

{% load custom_tags %}

{% block title %}注册{% endblock %}

{% block body %}

<!-- <form action="{% url 'users:user_register' %}" method='POST'>
    {% csrf_token %}

    {% if register_form %}
        {% for form in register_form %}
            <p>{{ form.label }}</p>
            <p>{{ form }}</p>
            {{ form.errors }}
        {% endfor %}
    {% endif %}
    <input type="submit" value="submit" />
</form>  -->
{% form_extra register_form "users:user_register" "注册" %}

{% endblock %}
