{% extends "base/normal_base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}注册{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/register.css' %}">
{% endblock %}

{% block body %}
    <div class="contents">
        <div class="am-g">
            <div class="am-u-md-6 am-u-md-centered register-form">
                {% form_extra register_form "users:user_register" "注册" %}
            </div>
        </div>
    </div>
{% endblock %}
