{% extends 'base/normal_base.html' %}

{% block title %}Update Your Avatar{% endblock %}

{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/users/update_profile.js' %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.Jcrop.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/users/update_profile.css' %}">
{% endblock %}

{% block body %}
<div class="contents">
    <div class="am-g">
        <div class="am-u-md-7 am-u-md-centered">
        
            <form class="form-avatar" action="{% url 'users:update_avatar' user.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form %}
                    {{ form.as_p }}
                    {{ image_form.x1 }}
                    {{ image_form.y1 }}
                    {{ image_form.x2 }}
                    {{ image_form.y2 }}
                    {{ image_form.width }}
                    {{ image_form.height }}
                    <input type="submit" value="保存头像" class="am-btn am-btn-secondary"/>
                {% endif %}
                <div class="am-btn am-btn-secondary file-btn">上传头像</div>
            </form>

            <div class="rel">
                <div class="tar-box">
                    <img id="target" src="{% static 'css/users/img-panel.jpg' %}" />
                </div>
                <span id="preview_box">
                    <img id="crop_preview" alt="头像预览" src="{% get_media_prefix %}{{ user.userprofile.avatar_link }}" />
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
